.switch-task {
    @apply flex border-solid border-2 border-secondary-200 rounded-xl py-4 px-8 justify-around items-center min-w-min text-xs h-24 mx-auto lg:w-64;
}

.toggle-name {
    @apply flex flex-col items-start content-center lg:text-base;
}

.switch {
    @apply relative inline-block w-12 h-6;
}

.switch input {
    @apply opacity-0 w-0 h-0;
}

.slider.round {
    @apply rounded-2xl
}

.slider.round:before {
    @apply rounded-2xl
}

.slider {
    @apply absolute cursor-pointer top-0 left-0 right-0 bottom-0 bg-secondary-100 transition duration-500;
}

.slider:before {
    @apply absolute h-4 w-4 left-1 bottom-1 bg-white transition duration-500;
    content: "";
}

input:checked + .slider {
    @apply bg-secondary-200;
}

input:focus + .slider {
    @apply shadow;
}

input:checked + .slider:before {
    @apply translate-x-16;
    -ms-transform: translateX(26px);
    -webkit-transform: translateX(26px);
}

.validate_tasks {
    @apply flex justify-center items-center bg-white pb-4 pt-8 fixed bottom-0 w-full rounded-t-full;
}

.task-list {
    @apply mb-48;
}