
<div>
  <h4 class="text-center text-2xl text-primary-200"> <strong class="mb-2"> Bravo ! </strong><br> Tu as carotté :</h4>
    <div class="carotted_avatar" id="carot_card_select">
      <p><%= image_tag @carroted_task.carotted_user.avatar, class: 'w-32 h-32 lg:h-36 lg:w-36 mx-auto rounded-full mt-12' %></p>
    </div>
    <h4 class="carotted_user_name text-center mt-4 font-medium"><%= @carroted_task.carotted_user.username %></h4>
</div>

  <div class="mt-16 text-center">
    <%= link_to '> Retour au Tach\'Board', root_path, class:"border-btm-purple text-sm ml-8 text-secondary-200" %>
  </div>
