<h1>Carotte ta coloc</h1>

<p>Gagne des carottes en faisant des tâches</p>
<p>Utilise tes carottes pour réassigner une de tes tâches !</p>

<%= link_to "JE CRÉE MA COLOC",new_coloc_path %>
<%= link_to "J'EN REJOINS UNE",join_coloc_path %>
