@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./index.scss";

* {
      @apply font-default;
      box-sizing: border-box;
      outline: none;
      text-decoration: none;
}

ul {
      list-style: none;
}
