@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import './index.scss';

* {
      box-sizing: border-box;
      outline: none;
      text-decoration: none;
}