
// ORANGE 

.orange-100 {
    color: rgba(254, 125, 84, 1);
}

.orange-80 {
    color: rgba(254, 125, 84, 0.8);
}

.orange-50 {
    color: rgba(254, 125, 84, 0.5);
}

// VIOLET

.violet-100 {
    color: rgba(127, 68, 227, 1);
}

.violet-80 {
    color: rgba(127, 68, 227, 0.8);
}

.violet-50 {
    color: rgba(127, 68, 227, 0.5);
}

// JAUNE

.yellow-100 {
    color: rgba(254, 201, 40, 1);
}

.yellow-80 {
    color: rgba(254, 201, 40, 0.8);
}

.yellow-50 {
    color: rgba(254, 201, 40, 0.5);
}

// CYAN

.cyan-100 {
    color: rgba(167, 234, 253, 1);
}

.cyan-80 {
    color: rgba(167, 234, 253, 0.8);
}

.cyan-50 {
    color: rgba(167, 234, 253, 0.5);
}

.noir-100 {
    color: rgba(0, 0, 0, 1);
}

.noir-80 {
    color: rgba(0, 0, 0, 0.8);
}

.noir-50 {
    color: rgba(0, 0, 0, 0.5);
}

.white {
    color: white;
}
