.text-center {
    text-align: center;
}

.margin-auto {
    margin: auto;
}

.margin-b-16 {
    margin-bottom: 16px;
}

.margin-b-32 {
    margin-bottom: 32px;
}

.margin-b-64 {
    margin-bottom: 64px;
}

.margin-t-16 {
    margin-top: 16px;
}

.margin-t-32 {
    margin-top: 32px;
}

.margin-t-64 {
    margin-top: 64px;
}

li {
    list-style: none;
}

.border-btm-purple {
    background: none;
    border: none;
    border-bottom: rgba(127, 68, 227, 1) solid 1px;
    width: fit-content;
}

.text-deco-none {
    text-decoration: none;
}

.my-task-card {
    background-color: rgba(255, 252, 247, 0.9);
    border: solid 2px rgba(127, 68, 227, 1);
    border-radius: 16px;
    padding: 16px 24px;  
}

.d-flex {
    display: flex;
}