.text-center {
    text-align: center;
}

.margin-auto {
    margin: auto;
}

.margin-b-16 {
    margin-bottom: 16px;
}

.margin-b-32 {
    margin-bottom: 32px;
}

.margin-b-64 {
    margin-bottom: 64px;
}

li {
    list-style: none;
}

.border-btm-purple {
    background: none;
    border: none;
    border-bottom: rgba(127, 68, 227, 1) solid 1px;
    width: fit-content;
}