h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.953rem;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.563rem;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}

.placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    opacity: 0.5;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 300;
}