.invit-token {
    border: rgba(254, 125, 84, 1) solid 3px;
    border-radius: 16px;
    padding: 16px 24px;
    width: 80VW;
    margin: 32px auto 64px auto;
    max-width: 600px;
}

.invit-token-join {
    border: rgba(254, 125, 84, 1) solid 3px;
    border-radius: 16px;
    padding: 16px 24px;
    margin: 32px auto;
}