<h1 class="text-center">TA COLOC A BIEN ÉTÉ CRÉÉE !</h1>

<h3 class="text-center">ENVOI CE TOKEN À TES COLOCS’</h3>

<h2 class="invit-token orange-100 text-center" style="letter-spacing: 2px;"><%= @coloc.invite_token %></h2>

<div class="text-center">
    <%= link_to " > Accéder au Tach'Board", ongoing_tasks_path, class: "btn-border-purple-1 text-deco-none"%>
</div>