<h1 class="text-center mb-8 text-base text-primary-200 font-medium lg:text-xl">Félicitations, <br>Ta coloc' a bien été créée.</h1>

<h3 class="text-center mb-4 text-sm lg:text-base">Envoie ce token à tes colocs' pour commencer :</h3>

<div class="text-center mb-8">
    <h2 class="invit-token text-2xl text-primary-200 tracking-wider"><%= @coloc.invite_token %></h2>
</div>

<div class="text-center">
    <%= link_to " > Accéder au Tach'Board", ongoing_tasks_path, class: "btn-border-purple no-underline text-sm lg:text-base"%>
</div>
