<div class="text-center pt-12">
  <%= simple_form_for @coloc do |f| %>
    <%= f.input :name, input_html: { class: 'mb-8 placeholder btn-border-purple', style: 'width: 282px;' }, placeholder: "Entre le nom de ta future Coloc'", label: false %>
    <%= f.submit 'Etape suivante >', class: 'btn-border-purple' %>
  <% end %>
</div>



