<div class="text-center pt-12">
  <%= simple_form_for @coloc do |f| %>

  <%= f.input :name, input_html: { class: 'mb-8 placeholder btn-border-purple w-1/2 text-center lg:w-1/6' }, placeholder: "Nom de ta Coloc'", label: false %>
  <%= f.input :number_of_people, input_html: { type: 'number', class: 'mb-8 placeholder btn-border-purple w-2/4 text-center lg:w-1/6', min: 2, max: 15 }, label: false, placeholder: "Nombre de colocs'"%>
  <%= f.submit 'Etape suivante >', class: 'btn-border-purple' %>
  <% end %>
</div>




