<h1 class= "text-xl text-secondary-200 text-center border-btm-purple mx-auto mb-12">Récapitulatif des tâches</h1>

<div class="grid-layout text-center">
    <% @coloc.coloc_tasks.each do |coloc_task| %>
    <div>
        <%= cl_image_tag coloc_task.image.key, height: 100, width: 100, class:'grid-image' %>
        <p class="font-medium"><%= coloc_task.name %></p>
    </div>
    <% end %>
</div>


<div class="info_bubble text-center">
    <%= image_tag 'info.png', alt: 'info', class: 'info-icon'%>
    <p class="violet-100 light">En tant que leader, tu pourras ajouter, modifier ou supprimer des tâches depuis le tach'board</p>
</div>

<div class="text-center my-12">
    <%= link_to "J'ai compris", "/colocs/#{@coloc.id}/invitation", class: "btn-primary"%>
</div>

