<h1>Recapitulatif des tâches</h1>

<% @coloc.coloc_tasks.each do |coloc_task| %>
   <p><%= coloc_task.name %></p> 
   <%= cl_image_tag coloc_task.image.key, height: 100, width: 100 %>
<% end %>

<div class="info_bubble text-center">
    <p class="violet-100 light">En tant que leader, vous pourrez ajouter, modifier ou supprimer des tâches depuis le dashboard</p>
</div>

<div class="text-center margin-t-32">
    <%= link_to "J'ai compris", "/colocs/#{@coloc.id}/invitation", class: "btn-primary"%>
</div>