<h1>Recapitulatif des tâches</h1>

<% @coloc.coloc_tasks.each do |coloc_task| %>
   <%= coloc_task.name %> 
   <%= cl_image_tag coloc_task.image.key, height: 100, width: 100 %>
<% end %>

<div>
    En tant que leader, vous pourrez ajouter, modifier ou supprimer des tâches depuis le dashboard
</div>
<div>
    <%= link_to "J'ai compris", "/colocs/#{@coloc.id}/invitation "%>
</div>
