<div>
    <h1 class= "text-xl text-secondary-200 text-center border-btm-purple mx-auto mb-12">Récapitulatif des tâches</h1>
</div>

<div class="task_grid text-center">
    <% @coloc.coloc_tasks.each do |coloc_task| %>
    <div class="switch-task-without-border">
        <%= cl_image_tag coloc_task.image.key, class:"w-12 h-12 lg:h-16 lg:w-16 mb-2 lg:mb-4" %>
        <p class="text-secondary-200 mb-2 text-xs text-center lg:text-base"><%= coloc_task.name %></p>
    </div>
    <% end %>
</div>


<div class="info_bubble text-center">
    <%= image_tag 'info.png', alt: 'info', class: 'info-icon'%>
    <p class="text-secondary-200 text-sm lg:text-base">En tant que leader, tu pourras ajouter, modifier ou supprimer des tâches depuis le tach'board</p>
</div>

<div class="text-center my-12">
    <%= link_to "J'ai compris", "/colocs/#{@coloc.id}/invitation", class: "btn-primary"%>
</div>

